alembic==1.6.4
attrs==21.2.0
bleach==3.3.0
catboost==0.25.1
certifi==2020.12.5
chardet==4.0.0
cliff==3.7.0
cmaes==0.8.2
cmd2==1.5.0
colorama==0.4.4
colorlog==5.0.1
cycler==0.10.0
docutils==0.17.1
graphviz==0.16
greenlet==1.1.0
idna==2.10
importlib-metadata==4.0.1
joblib==1.0.1
keyring==23.0.1
kiwisolver==1.3.1
lightgbm==3.2.1
Mako==1.1.4
MarkupSafe==2.0.1
matplotlib==3.4.2
numpy==1.20.3
optuna==2.7.0
packaging==20.9
pandas==1.2.4
pbr==5.6.0
Pillow==8.2.0
pkginfo==1.7.0
plotly==4.14.3
ppscore==1.2.0
prettytable==2.1.0
Pygments==2.9.0
pyparsing==2.4.7
pyperclip==1.8.2
pyreadline3==3.3
python-dateutil==2.8.1p
python-editor==1.0.4
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.5.0
scikit-learn==0.24.2
scipy==1.6.3
six==1.16.0
SQLAlchemy==1.4.15
stevedore==3.3.0
threadpoolctl==2.1.0
tqdm==4.61.0
twine==3.4.1
urllib3==1.26.4
wcwidth==0.2.5
webencodings==0.5.1
xgboost==1.4.2
zipp==3.4.1
