annoy>=1.17.0
Boruta>=0.3
catboost>=0.26
joblib>=1.0.1
fpdf>=1.7.2
lightgbm>=3.2.1
lxml>=4.6.1
imbalanced-learn>=0.8.0
matplotlib>=3.3.0
missingno>=0.4.2
numpy>=1.19.5
optuna>=2.8.0
pandas>=1.1.5
ppscore>=1.2.0
pyarrow>=5.0.0
scikit-learn>=0.24.2
seaborn>=0.11.1
shap>=0.39.0
statsmodels>=0.12.2
tqdm>=4.61.0
xgboost>=1.4.2
importlib-metadata>=4.0.0
